
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 1s;
}
body {
  background-color: #1F4886;
  color: #EB3081;
  margin: auto;
  text-align: center;
  font-family: 'Special Elite', cursive;
  max-width: 90%;
}
h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-decoration: underline;
}
h2 {
  font-size: 36px;
  max-width: 80%;
	margin: auto;
	background-color: rgba(163,190,199,0.8);
	border-radius: 10px;
	padding: 2%;
}
p {
  font-size: 20px;
}
hr {
  height: 2px;
  color: white;
  background-color: #A3BEC7;
}
